<h1><%= "Welcome #{current_user.username}!" %></h1>

<h3>Viewing Party Details</h3>

<center>
  <%= form_tag "/viewing-party", method: :post do |f| %>

    <%= label_tag :movie_title %>
    <input type="text" id="movie_title" name="movie_title" value="<%= @movie.title %>" readonly />

    <%= label_tag :duration_of_the_party %>
    <%= text_field_tag :duration_of_the_party, "#{@movie.runtime}" %>


    <%= label_tag :rating%>
    <%= text_field_tag :rating%>

    <%= submit_tag 'Create Review' %>
  <% end %>
</center>
