<h1><%= "Welcome #{current_user.username}!" %></h1>

<h3>Viewing Party Details</h3>

<center>
  <%= form_tag "/viewing-party", method: :post %>
    <%= label_tag :movie_title %>
    <input type="text" id="movie_title" name="movie_title" value="<%= @movie.title %>" readonly></input>
    <br>
    <%= label_tag :duration_of_the_party, "Duration of Party:" %>
    <%= text_field_tag :duration_of_the_party, "#{@movie.runtime}" %>
    <br>
    <%= label_tag :date, "When:" %>
    <%= date_field_tag :date %>
    <br>
    <p>Invite your friends below:</p>
    <% if !current_user.friends.empty? %>
      <%= collection_check_boxes(:view_party, :friend_ids, current_user.friends, :id, :username) %>
    <% else %>
      <p>Add some friends on your dashboard. Then, you can add them here for your viewing party.</p>
    <% end %>
    <br>
    <%= submit_tag "Create Viewing Party" %>
</center>
