<h1>Hello, <%= current_user.username %></h1>

<%= button_to "Discover Movies", "/discover", method: :get %>

<section class="friends">
  <h2>Friends</h2>
  <%= form_tag "/friendships", method: :post %>
    <%= text_field_tag :username, "Enter your friend's email" %>
    <%= submit_tag "Add Friend" %>
<br>
<% if current_user.friends.empty? == false %>
  <h3>Friends:</h3>
    <% current_user.friends.each do |friend| %>
      <h4>Username/Email: <%= friend.username %></h4>
    <% end %>
  <% else %>
    <h4>You currently have no friends</h4>
  <% end %>
</section>

<section class="viewing-parties">
  <h2>Viewing Parties</h2>
  <section class="viewing-parties-created">
    <p>Movie Title</p>
    <p>Date and Time of Event</p>
  </section>
  <br>
  <section class="viewing-parties-invited">
    <p>Movie Title</p>
    <p>Date and Time of Event</p>
    <%= button_to "Add to Calendar", "/", method: :post %>
  </section>
</section>
