<h1>Hello, <%= current_user.username %></h1>

<%= button_to "Discover Movies", "/discover", method: :get %>

<section class="friends">
  <h2>Friends</h2>
  <%= form_tag "/friendship", method: :post %>
    <%= text_field_tag :username, "Enter your friend's email here:" %>
    <%= submit_tag "Add Friend" %>
  <br>

</section>

<section class="viewing-parties">
  <h2>Viewing Parties</h2>
</section>
