<h1><%= "Welcome #{current_user.username}!" %></h1>

<h1><%= @movie.title %></h1>

<%= button_to "Create a Viewing Party", "/viewing-party/new", method: :get, params: {movie_id: @movie.id, movie_title: @movie.title} %>

<h3>Vote Average: <%= @movie.vote_average %></h3>
<h3>Runtime: <%= @movie.format_runtime%></h3>
<h3>Genres: <%= @movie.genres_names %></h3>

<section class="summary">
  <h3>Summary</h3>
  <p><%= @movie.summary %></p>
</section>

<section class="ten-cast-members">
  <h3>Cast</h3>
  <% @movie.ten_cast_members.each do |cast_member| %>
    <p><%= cast_member[:name] %> as <%= cast_member[:character] %></p>
  <% end %>
</section>

<section class="reviews">
  <h3><%= @movie.count_of_reviews %> Reviews</h3>
  <% @movie.reviews.each do |review| %>
    <p>Author: <%= review[:author] %></p>
    <p><%= review[:content] %></p>
  <% end %>
</section>
